<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StartWiFi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StartWiFi.Properties.Settings>
            <setting name="test" serializeAs="String">
                <value>600, 400</value>
            </setting>
            <setting name="StartWiFi" serializeAs="String">
                <value>570, 320</value>
            </setting>
        </StartWiFi.Properties.Settings>
    </userSettings>
</configuration>